<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>GitHub Analyze Page</title>
    <style>
.topnav {
  overflow: hidden;
  background-color: #333;
margin:0px;
}
.bioborder{
height:150px;
width:150px;
margin-bottom:5px;
}
    .pic{
    height:200px;
    width:200px;
    display: block;
    vertical-align:middle;
    align:left;
    border-radius:50%;
      
      margin-bottom:15px;
    }
        .leftside{
        margin:10px;
        padding:35px;
        }
  th, td {
  padding: 20px;
  margin:0px;

   }
    </style>
</head>
<body>
<h1 align="center" class="topnav">
   <font color="white">GitHub Profile Analyzer</font>
</h1>
</div>
<table>
<tbody>
<tr>
<td>
<div align="left"><a href="{{img}}"><img class="pic" src="{{img}}"alt="Paris" width="200" height="200" ></a>
</div>
    <div style="margin-bottom:10px;">
        <span style="font-weight:bold;">Welcome</span> :{{n}}
        </div>
<div align="left" style="margin-bottom:10px;">
    <span style="font-weight:bold;">Follower</a>s</span> : {{z2}}
    </div>
<div align="left" style="margin-bottom:10px;">
    <span style="font-weight:bold;">Following</span> : {{z3}}
</div>
<div><button id="myButton" class="float-left submit-button" >see details</button>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/followers";
    };
</script></div>
<div align="left" class="bioborder">
    <span style="font-weight:bold;"> Bio</span> : {{bio}}
    </div>
<div align="center">
<a href="/graph">
<button style="padding:5px;background-color: #4CAF50;"><font color="white">Show Graph</font></button></a>
</div>
</td>
<td><div align="right">
    <table  border="1px" style="padding:14px;border-collapse:collapse;font-size: 16px">
        <thead>
        <tr>
            <th>No.</th>
            <th>Name of repo</th>
            <th>language</th>
            <th>Forks</th>
            <th>Watchers</th>
            <th>Stars</th>
            <th>Size(in Kb)</th>
        </tr>
        </thead >
        <tbody >
        <tr>
            <td >
                {%for i in range(1,count)%}
                <div style="padding:0px;">{{i}}</div>
                {%endfor%}
            </td>
            <!-- <td>
                {%for i in namelist%}
                <div>{{i}}</div>
                {%endfor%}
            </td> -->
            <td>
             {%for i in range(0, c//2)%}
            <div ><a title="{{combine[(c//2)+i]}}" href="{{combine[(c//2)+i]}}">{{combine[i]}}</a></div>
             {%endfor%}</td>
            <td bgcolor="red">
                {%for i in language_list%}
                <div>{{i}}</div>
                {%endfor%}
            </td>
        <td>
            {%for i in forklist%}
                <div>{{i}}</div>
             {%endfor%}
            </td>
        <td>
            {%for i in watcherlist%}
                <div>{{i}}</div>
             {%endfor%}
            </td>
        <td>
            {%for i in starlist%}
                <div>{{i}}</div>
            {%endfor%}
            </td>
        <td>
            {%for i in sizelist%}
                <div>{{i}}</div>
            {%endfor%}
            </td>
    
        </tbody>
    </table>
</div></td>
</tr>
</tbody>
</table>
    <script>
        function myfunc(){
        window.print()}
    </script>
    <div align="center">
        <button onclick="myfunc()">Download</button>
    </div>
<footer>
<div align="center">Made With
    <img src="https://cdn.pixabay.com/photo/2017/05/05/09/00/heart-2286378_960_720.png" width="20" height="20"> by <span style="font-weight:bold;">Akash</span>.
</div>
</footer>
</body>
</html>
